<section>
  <ul>
    <% @todos.each do |todo| %>
    <li><a href="/todo/<%=todo.id %>"><%=todo.content %></a> to do by <strong><%=todo.author %></strong> </li>
    <% end %>
  </ul>
  <%= form_tag "/", method: "post" do %>
  <input type="text" name="content" placeholder="Ex: Make a todo app for Dexem" minlength="5" maxlength="50" required/>
  <input type="text" name="author" placeholder="Write your name here" minlength="2" maxlength="20" required/>
  <input type="submit" value="Ajouter" />
  <% end %>
</section>
