<!DOCTYPE html>
<html>
  <head>
    <title>TodolistApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="black_cover"></div>
    <main>
      <header>
	<h1><a href="/">Todolist App</a></h1>
	<p>Welcome to this great todolist app !</p>
      </header>
      <%= yield %>
    </main>
  </body>
</html>
